/* section */
section.schoollife{width:876px; height:auto; margin-left:330px; padding:20px 60px 0 60px; background:#fff;}
section>img{display:block; margin:55px auto 0;}
section .subtitle{display:block; width:auto; height:35px; margin-top:15px; padding-left:20px; font-size:15px; font-weight:500; line-height:35px; color:white;}
/* schoollife */
#schoollife h2{font-size:38.38px; font-weight:normal; text-align:center; color:#668f88; letter-spacing:-0.5px;}
#schoollife p{font-size:16px; line-height:30px; text-align:center; letter-spacing:-0.25px; color:#668f88;}
/* concert_images */
#concert_images .subtitle{width:231px; margin:65px 0; background:#565091;}
#concert_images h2{font-size:38.38px; font-weight:normal; text-align:center; color:#668f88; letter-spacing:-0.5px;}
#concert_images p{font-size:14px; line-height:24px; text-align:center; color:#668f88;}
#concert_images .iwrap{display: flex; width:auto; height:440.10px; margin-top:55px;}
#concert_images .iwrap img{height:100%; margin:auto;}
/* concert_history */
#concert_history h2{margin:60px 0 40px;font-size:24px; font-weight:bold; text-align:center; color:#668f88; letter-spacing:-0.1px;}
#concert_history .iwrap{width:auto; height:995px; margin-top:55px;}
#concert_history .iwrap img{float:left; margin-bottom:15px;}
#concert_history .iwrap img:nth-child(2){margin-right:14px;}
#concert_history .iwrap img:nth-child(4){margin-right:14px;}
/* global_sdhs*/
#global_sdhs .subtitle{width:231px; background:#2f8ed0;}
#global_sdhs h2{font-size:40px; font-weight:bold; text-align:center; color:#668f88; letter-spacing:-0.5px;}
#global_sdhs p{font-size:16px; line-height:24px; text-align:center; color:#668f88;}
#global_sdhs img{margin:20px auto;}
#global_sdhs img:last-child{margin:20px auto 0;}
/*sub_section*/
#sub_section>div{padding-bottom: 5px;}
#sub_section hr{margin:40px 0 5px; border:1px solid #2f8ed0; width:201px;border-bottom: 0;}
#sub_section h3{font-size:16px; font-weight:900; letter-spacing:-0.1px; color:#585858;}
#sub_section ul{margin:10px 0 30px;}
#sub_section>div>img{display:block; margin:30px auto;}
#sub_section li{max-width:100%; font-size:14px; line-height:24px; color:#737373;}
#sub_section li span{font-size:20px; font-weight:900; border-radius:100%; vertical-align: 5px;}
#sub_section p{max-width:759px; margin:30px 0; font-size:14px; line-height:24px; color:#737373;}
#sub_section .iwrap{width:auto; height:400px; margin-bottom:30px;}
#sub_section .iwrap img{display:block; float:left; margin:0 13.5px 10px 0;}
#sub_section .iwrap img:nth-child(3){margin:0 0 10px 0;}
#sub_section .iwrap img:nth-child(6){margin:0 0 10px 0;}
